body {
    background-color: darkgreen;
     height: inherit;
     width: inherit;
     color: rgb(6, 6, 0);
     
}
.myButton1 {
color: rgb(255, 255, 255);
 font-size: 16px; line-height: 16px;
  padding: 6px; border-radius: 13px;
   font-family: Georgia, serif;
    font-weight: normal;
     text-decoration: none;
     font-style: normal;
      font-variant: normal;
      text-transform: none;
       background-image: linear-gradient(to right, rgb(1, 6, 10) 0%, rgb(0, 0, 0) 50%, rgb(1, 9, 15) 100%);
        box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
         border: 2px solid rgb(8, 138, 47); display: inline-block;}
.myButton1:hover {
background: #49FF18; }
#yellowblock {
border: 23px solid #ff6;
background-color: #ff6;
border-radius: 26px;
display: inline-block;  padding: 20px 10px; border: 5px solid
}
#label1 {
color: #FFF; font-size: 16px;
 line-height: 16px; padding: 6px;
  border-radius: 13px; font-family: Georgia, serif;
   font-weight: normal;
    text-decoration: none;
    font-style: normal;
     font-variant: normal;
      text-transform: none;
       background-image: linear-gradient(to right, rgb(13, 104, 36) 0%, rgb(177, 227, 39) 50%, rgb(10, 255, 87) 100%);
        box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
         border: 2px solid rgb(221, 17, 17); display: inline-block;
background-color: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}